.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(https://picsum.photos/seed/picsum/1600/900);
	background-repeat: no-repeat;
	background-size: cover;
}
.registration {
	display: grid;
	grid-template-areas:
		"cadastro botaoX"
		"cadastro nada";
}

.registration__form {
	grid-area: cadastro;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	height: inherit;
	width: inherit;
}
.registration__title {
	padding-bottom: 20px;
}
.registration__button-close {
	grid-area: botaoX;
}
