body {
	background-image: url(https://picsum.photos/seed/picsum/1600/900);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

.header {
	max-width: 1440px;
	height: 61px;
	margin: 0 auto;
	padding: 0 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 1.5rem;
}

.container {
	margin-top: 150px;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (min-width: 768px) {
	/* .login {
		padding: 3rem;
	} */
}

.login {
	display: grid;
	grid-template-columns: 280px 20px;
	grid-template-areas:
		"cadastro botaoX"
		"cadastro nada"
		"registrar nada";
}

.login__form {
	grid-area: cadastro;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	height: inherit;
	width: inherit;
	padding: 2rem;
}

.login {
	width: 320px;
	background-color: var(--color-blue);
	height: 401px;
	box-shadow: 0px 4px 4px 0px #00000040;
	border-radius: 5px;
}

.login__title {
	font-size: 1.5rem;
	color: var(--color-white);
	padding-bottom: 20px;
}

.login__input {
	color: var(--color-grey-500);
	background-color: var(--color-white);
	font-size: 1rem;
	border-radius: 5px;
	padding: 0.5rem;
	width: 246px;
}

.register__text {
	grid-area: register;
	text-align: center;
}
.register__link {
	color: var(--color-black);
	font-weight: bold;
}
.register__link:hover {
	color: var(--color-purple);
}
